
*
  box-sizing: border-box

#app
  width: 100%
  max-width: 1440px
  margin: 0 auto

body
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  font-weight: 400

  color: $textColor
  background-color: $main

  margin: 0
  display: flex
  min-height: 100dvh

::-webkit-scrollbar
  width: 7px

::-webkit-scrollbar-vertical
  background-color: #f1f1f1

::-webkit-scrollbar-thumb
  background-color: $subBgColor
  border-radius: 6px

input
  color: $textColor
  border: none

input:focus
  outline: none

button
  cursor: pointer
  color: $textColor
  border: none

button:focus
  outline: none

h2
  font-weight: 500
  font-size: 1.4em

hr
  width: 99%
  margin: 10px auto
  border: 1px $subBgColor solid

a
  text-decoration: none
  color: $textColor

.errorServerNotFound
  margin: auto
  text-align: center

.popup
  z-index: 2

.popup
  &__close
    display: none

@media screen and (max-width: 1440px)
  #app
    padding: 0 1em
